{% extends 'base.html' %}
{% block content %}
    <p><a href="../">back to anime choice</a></p>
    <table class="table w-50">
        <thead>
            <th scope="col">title</th>
            <th scope="col">type</th>
            <th scope="col">created at</th>
        </thead>
        <tbody>
            {% for chapter in chapters %}
                <tr>
                    <td><a href="{{ chapter.get_absolute_url }}">{{ series.title }} {{ chapter.chapter_number }}: {{ chapter.title }}</a></td>
                    <td>{{ chapter.type }}</td>
                    <td>{{ chapter.created_at|date:'d-m-Y' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Simillar animes</h2>
    <div>
        {% for anime in simillar_anime_series %}
            <a href="{{ anime_series.get_absolute_url }}"><img src="{{ anime.thumbnail_image.url }}" alt="{{ anime.title }}" width="200"></a>
        {% empty %}
            <p>There aren't any simillar animes.</p>
        {% endfor %}
    </div>
{% endblock %}

{% block menu %}
{% endblock %}