{% extends 'base.html' %}
{% load streamer_tags %}
{% block content %}
<p><a href="../../">back to anime choice</a> | <a href="../">back to chapter choice</a></p>
    <h1>{{anime_chapter.title}}</h1>
    <p><b>description: </b>{{ anime_chapter.description }}</p>
    <p>{{anime_series.title}} chapter {{ anime_chapter.chapter_number}} videos:</p>
    <table class="table w-50">
            <thead>
                <th scope="col">voice lang</th>
                <th scope="col">sub lang</th>
                <th scope="col">service</th>
                <th scope="col">quality</th>
                <th scope="col">link</th>
            </thead>
            <tbody>
            {% for video in videos %}
                <tr>
                    <td>{{ video.voice_lang }}</td>
                    <td>{{ video.sub_lang }}</td>
                    <td>{{ video.service }}</td>
                    <td>{{ video.quality }}</td>
                    <td><a href="{{ video.service }}/">watch</a></td>
                </tr>
            {% endfor %}
        </tbody>
</table>
{% endblock %}
{% block menu %}
{% endblock %}
